{% extends "base.html" %}
{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>View PDF</title>
<style>
    /* Ensure the PDF takes the full width and height of the window. Adjust as needed. */
    embed {
        width: 100%;
        height: 80vh; /* 80% of the viewport height */
    }
    .back-button {
        display: block;
        margin: 20px 0;
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>

{% block content %}

<button class="back-button" onclick="window.history.back()">Go Back</button>

<!-- Embed the PDF -->
<embed src="{{ pdf_url }}" type="application/pdf">
{% endblock %}
